
Task_1_ProSoft/main.exe
Task_2_ProSoft/.vscode/settings.json
Task_2_ProSoft/.vscode/tasks.json
Task_2_ProSoft/main.exe
Task_5_ProSoft/.vscode/c_cpp_properties.json
Task_5_ProSoft/.vscode/tasks.json
Task_5_ProSoft/main.exe
Task_6_ProSoft/.vscode/tasks.json
Task_6_ProSoft/main.exe
